/**************************************************************
 *  COMPANY COLORS
 * 
 * Aqua: 007c92
 * Ligh blue: 8abbe5
 * Black: 000
 **************************************************************/

/*************************************************************
    BASE STYLES
***************************************************************/

* {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;   
}

::selection {
    background-color: #0487BD;
    color: #FFF;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0),0 1px 1px #490F0F;
}

a {
    text-decoration: none;  
    text-shadow: none;
}
a:hover {
   color: #3498db;
}

html {
    background-color: #ecf0f1;
    height: 100%;
    min-height: 100%;
}

body {
    height: 100%;
    min-height: 100%;
    font-family: "Helvetica";
    font-weight: 300;
    font-size: 1em;
    color: #2c3e50;
    text-shadow: 0 0 0 transparent,0 1px 1px #fff;
    overflow: hidden;
    position: relative;
}

img {
}

p {
    line-height: 1.25em;
    margin-bottom: 1em;
}

/*************************************************************
    STRUCTURAL HEIGHTS / WIDTHS
***************************************************************/

h1 {
    font-size: 2.5em;   
    color: #007c92;
}
h2 {
    display: inline;
    font-size: 2em;   
    color: #007c92;
    text-transform: uppercase;
}
h3 {
    font-size: 1.75em;
    margin-bottom: 0.5em;
    color: #e74c3c;
    text-transform: capitalize;
}

header, #pageTitleWrapper, #mainContent, footer {
    position: relative;
    width: 100%;
    overflow: hidden;   
}
header {
    z-index: 2;
}

header, #pageTitleWrapper {
    height: 10%; 
    max-height: 10%;
}
#mainContent {
    height: 75%;  
    max-height: 75%;
}
footer {
    height: 5%;
    max-height: 5%;
}


/*************************************************************
    WRAPPERS  
***************************************************************/

.bodyWrapper {
    clear:both; 
    margin: auto;
    width: 90%;
    max-width: 90%;
    height: 100%;
    max-height: 100%;
}
    .bodyWrapper:after {
        content: "";
        display: table;
        clear:both;   
    }

.standardPadding {
    padding: 2%;
    width: 96%;
}

nav#mainNav {
    float: right;   
}

/*************************************************************
    HEADER
***************************************************************/
header {
    background-color: #2c3e50;
    width: 100%;
}
    header:after {
        content: "";
        display: table;
        clear:both;   
    }
    header h1 {
        float:left; 
        position: absolute;
        color: #FFF;
        text-shadow: none;
        /* vert centered */
        top: 50%;
        font-size: 2.5em;  
        line-height: 2.5em;
        margin-top: -1em;
    }

header #title {
    float: left;   
}
    header #title img {
        height: 100%;   
    }

/*************************************************************
    PAGE TITLE
***************************************************************/
#pageTitleWrapper {
    
}
    #pageTitleWrapper h2 {  
        width: 100%;
        /* vert centered */
        position: absolute;
        top: 50%;
        line-height: 2em;
        font-size: 2em;
        margin-top: -1em;
    }

/*************************************************************
    MAIN CONTENT
***************************************************************/
#mainContent {
    
}

/*************************************************************
    FOOTER
***************************************************************/
footer {
    
}
    footer div {
        position: relative;
        line-height: 0.8em;
        font-size: 0.8em;
        top: 50%;
        margin-top: -0.2em;
        text-align: center;
        color: #95a5a6;
    }

/*************************************************************
    NAV
***************************************************************/

/*  DEFAULT **************************************************
***************************************************************/
nav {
    height: 100%;
    overflow: hidden;
}
    nav:after {
        content: "";
        display: table;
        clear:both;
    }

    nav ul {
        list-style-type: none;  
    }
        nav ul:after {
            content: "";
            display: table;
            clear:both;
        }

    nav li {
        float:left;
        text-align: center;
    }

    nav a {
        display: block;
        height: 100%;
        padding: 30px 20px;
        color: #ecf0f1; 
    }
        nav a:hover, nav a.active {
            color: #FFF;
            background: #3498db;
            background: #007c92;
            text-shadow: 1px 1px #444;
            transition: background 0.5s ease;
        }

/* TEXT ******************************************
***************************************************************/
nav.text a {
    transition: all 0.5s ease;   
}
nav.text a.active, nav.text a:hover {
    text-shadow: none;
    background: none;
    padding-top: 30px;
    padding-bottom: 50px;
    transition: all 0.5s ease;
}

/* TABS ******************************************
***************************************************************/
nav.tabs a:hover, nav.tabs a.active {
    color: #FFF;
    text-shadow: none;
    background: #ecf0f1;
}


/* VERTICAL **************************************
***************************************************************/
nav.vertical ul {
    width: 80%;  
}
nav.vertical li {
    clear: left;
    width: 100%;
    text-align: left;
}
    nav.vertical a { 
        color: #007c92;
        height: 1.5em;
        line-height: 1em;
        padding: 20px;
    }
        nav.vertical a.active, nav.vertical a:hover {
            color: #FFF;
            transition: all 0.5s ease;
            background-color: #e74c3c;
        }

/*************************************************************
    NAV CONTENT
***************************************************************/
#subContentWrapper div {
    display: none;   
}

/*************************************************************
    IMAGE WRAPPER
***************************************************************/
.image {
    position: relative; 
    display: inline-block;
    max-height: 99%;    /* room for shadow and border */
    width: auto;
    overflow: hidden;
    box-shadow: 0px 10px 10px -10px #000;

}
    .image span {
        background: #2c3e50;
        position: absolute;
        bottom: 20%;
        left: 0;
        padding: 10px;
        color: #FFF;
        text-shadow: 1px 1px black;
    }
        .image.active span {
            background: #f39c12;
        }

/*************************************************************
    COLUMN LAYOUTS 
***************************************************************/
.twoColumnWrapper { 
    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
}
    .twoColumnWrapper:after {
        content: "";
        display: table;
        clear:both;   
    }
.colLarge {
    float: left;
    width: 75%;
    max-width: 75%;
    height: 100%;
    max-height: 100%;
}
.colSmall {
    float: left;
    width: 25%;
    max-width: 25%;
    height: 100%;
    max-height: 100%;
    overflow-y: scroll;
}

.colVeryLarge {
    float: left;
    width: 85%;
}
.colVerySmall {
    float: left;
    width: 15%;
}

.col1 {
    float: left;
    width: 25%;   
}
.col2 {
    float: left;
    width: 50%;  
}
.col3 {
    float: left;
    width: 25%;   
}

/*************************************************************
    LISTS  
***************************************************************/
ul.bulletPoints {
    list-style-type: none;
}

ul.bulletPoints li {
    margin-top: 1em;
    padding-left: 20px;
    font-size: 1.2m;
    line-height: 1.5em;
}
    ul.bulletPoints li:before {
        content: "\00bb  ";
    }
ul.bulletPoints.small li {
    font-size: 1em;
    line-height: 1em;
}

/*************************************************************
    IMAGE GALLERY 
***************************************************************/
.galleryMain {
    width: 100%;  
}
.galleryMain:hover {
    cursor: pointer;   
}

.imgGallery {
    width: 100%;
}
    .imgGallery:after {
        content: "";
        display: table;
        clear:both;   
    }
    .imgGallery .image {
        float: left;
        width: 45%;
        margin-right: 3%;
        margin-bottom: 5%;  
        opacity: 0.9;
        overflow: hidden;
    }
        .imgGallery .image img {
           width: 100%;
        }
    .imgGallery .image:hover {
        opacity: 1.0;
        cursor: pointer;
        transition: opacity 0.5s ease;
    }
    .imgGallery span {
        bottom: 0;
        width: 100%;
        font-size: 1em;
        padding: 5px;
        background-color: rgba(44, 62, 80, 0.7);
}

    /************ SLIM THUMBNAILS ****************/
    .imgGallery.slim .image {
        width: 90%;
        height: 2em;
        overflow: hidden;
        transition: all 0.5s ease;
    }
        .imgGallery.slim .image:hover, .imgGallery.slim .image.active {
            height: 10%;
            transition: all 0.5s ease;
        }
    .imgGallery.slim span {
        bottom: 0;
        width: 100%;
        font-size: 1.25em;
        padding: 5px;
        background-color: rgba(44, 62, 80, 0.7);
    }
    .imgGallery.slim .image.active span {
        background: #e74c3c; /* orange: #f39c12 */
        transition: all 0.5s ease;
    }

    /************ TEXT THUMBNAILS ****************/
    .imgGallery.text {
        width: 90%;
    }
    .imgGallery.text .image {
        position: relative;
        width: 80%;
        width: 100%;
        line-height: 1em;
        font-size: 1em;
        padding: 10px;
        box-shadow: none;
        background-color: #2c3e50;
        transition: all 0.5s ease;
    }
        .imgGallery.text .image:hover, .imgGallery.text .image.active {
            background-color: #e74c3c; /* orange: #f39c12 */
            transition: all 0.5s ease;
        }
        .imgGallery.text .image img {
            display: none;   
        }
    .imgGallery.text .image span {
        position: relative;
        padding: 0;
        background: none;
    }
            
/*************************************************************
    PROGRESS BAR
***************************************************************/
#progressBar {
    width: 95%;
    height: 2px;
    margin: auto;
    border: 1px solid #111;
    background-color: #292929;
}

#progressBar div {
    height: 100%;
    color: #fff;
    text-align: right;
    line-height: 20px; /* same as #progressBar height if we want text middle aligned */
    width: 5px;
    background-color: #3498db;
}

/*************************************************************
    MODAL  
***************************************************************/
#modalWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;   
    height: 100%;
    z-index: 10;
    background: rgba(0,0,0, 0.75);
    display: none;
}
    #modalWrapper:hover {
        cursor: pointer;
    }
    #modalWrapper #modalContent {
        max-width: 96%;
        max-height: 94%;
        margin: 2% auto;
        text-align: center;
    }
        #modalWrapper #desc {
            width: 100%;
            position: fixed;
            top: 0;
            padding: 5px;
            text-align: center;
            color: #FFF;
            background-color: #000;
            font-weight: bold;
            font-family: arial, sans-serif;
            text-shadow: none;
        }

/*************************************************************
    HOME PAGE / INTRO SPECIAL STYLES
***************************************************************/
#introWrapper {
    display: none;  
    display:fixed;
    top:0;
    z-index: 100;
}
#introWrapper .logo {
    width: 50%;
    margin: auto;
    margin-top: 20%;
}
    #introWrapper .logo img {
        width: 100%;
    }

.fullPage {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #222;
}

.fullWrapper {
    position: fixed;
    width: 100%;
    height: 90%;
    top: 10%;
    overflow: hidden;
}

.fullWrapper .logo {
    width: 30%;
    font-size: 3em;
    line-height: 3em;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    right: 50px;
    top: 30px;   
}
    .fullWrapper .logo img {
        width: 100%;
    }

.fullWidthWrapper {
    width: 100%;   
}
    .fullPageWrapper:after {
        content: "";
        display: table;
        clear:both;  
    }


/*************************************************************
    MISC 
***************************************************************/

.overlay {
    background: rgba(52, 73, 94, 0.8);
    color: #FFF;
    text-shadow: 1px 1px #000;
}

.left {
    float: left;   
}
.right {
    float: right;
}

.clear-fix {
    clear:both;
    height:0px;
}

button.exit {
    position: absolute;
    top: 0;
    right: 0;
    height: 32px;
    width: 32px;
    background: url(../../resources/images/close.png) center no-repeat;
    border: none;
    cursor: pointer;
    opacity: 0.5;
    z-index: 999;
}
    button.exit:hover {
        opacity: 1;
    }   

.colorSwitcher {
    position: fixed;
    bottom: 0;
    right: 0;
    color: #FFF;
    background: #f39c12;
    border: none;
}

/*************************************************************
    MEDIA QUERIES 
***************************************************************/

@media all and (min-width: 1401px) and (max-width: 1550px) {
    body {
        font-size: 0.85em;                   
    }
    nav a, nav.vertical a {
        padding: 20px; 

    }
}

@media all and (min-width: 1200px) and (max-width: 1400px) {
    body {
        font-size: 0.85em;                   
    }
    nav a, nav.vertical a {
        padding: 10px; 
        border-right: solid 1px #7f8c8d;
    }
    .image span {   
        bottom: 0;
        left: 0;
        max-width: 95%;
        padding: 10px;
    }   
}
                                
@media all and (min-width: 0px) and (max-width: 1200px) {
    body {
        font-size: 0.7em;                   
    }
    nav a, nav.vertical a {
        padding: 10px; 
        border-right: solid 1px #7f8c8d;
    }
    .image span {   
        bottom: 0;
        left: 0;
        max-width: 95%;
        padding: 10px;
    }                                                
}