<div class="bodyWrapper">

    <div class="twoColumnWrapper">
        <div class="col1">
            <nav id="subNav" class="vertical">
                <ul>
                    <li><a href="#content1">Trammell Crow Summary</a></li>
                    <li><a href="#content2">Collins Woerman Summary</a></li>
                    <li><a href="#content3">Lease Crutcher Lewis Summary</a></li>
                </ul>
            </nav>
        </div>
        <div class="col2">
            <div id="subContentWrapper">
                 <div id="content1">
                    <h3>Trammell Crow Company</h3>  
                    <ul class="bulletPoints">
                        <li>Founded in 1948, TCC is one of the nation’s leading commercial developers and investors (ranked #2 nationally in 2013 by Commercial Property Executive)</li>
                        <li>The Company has developed or acquired nearly 2,600 buildings totaling over 540 million square feet and valued at nearly $60 billion</li>
                        <li>$6.2 B of projects in process/pipeline</li>
                        <li>Established risk mitigation measures through disciplined investment process</li>
                        <li>Acquire value-add, opportunistic and re-development real estate</li>
                        <li>Long history of joint venture development with the nation’s most sophisticated institutional investors</li>
                    </ul>
                </div>
                <div id="content2">
                    <h3>Collins Woerman Summary</h3>  
                    <p>Founded in 1988, CollinsWoerman is a full-service architecture, planning and interior design firm headquartered in Seattle, Washington. Two-thirds of our business comes from work in healthcare with a client roster that includes: </p>
                    <ul class="bulletPoints small" style="width:50%;float:left;">
                        <li>Virginia Mason Medical Center</li>
                        <li>The Polyclinic</li>
                        <li>Swedish Medical Center</li>
                        <li>MultiCare Health System</li>
                        <li>Evergreen Health Medical Center</li>
                        <li>Pacific Medical Centers</li>
                        <li>Group Health Cooperative</li>
                    </ul>
                    <ul class="bulletPoints small" style="width:50%;float:left;">
                        <li>Franciscan Health System</li>
                        <li>University of Washington Medical Center</li>
                        <li>Seattle BioMed</li>
                        <li>Seattle Science Foundation</li>
                        <li>Fred Hutchinson Cancer Research Center</li>
                        <li>Alexandria Real Estate</li>
                    </ul>
                </div>
                <div id="content3">
                    <h3>Lease Crutcher Lewis Summary</h3>  
                    <p>Lease Crutcher Lewis has been a leading Northwest general contractor for 127 years, and has been based in Seattle since 1939.</p>
                    <p><strong>Medical &amp; Biotech Clients:</strong></p>
                    <ul class="bulletPoints small"  style="width:50%;float:left;">
                        <li>Fred Hutchinson Cancer Research Center</li>
                        <li>Virginia Mason </li>
                        <li>Seattle Children’s</li>
                        <li>Swedish Hospital</li>
                        <li>Group Health Cooperative</li>
                        <li>ZymoGenetics</li>
                        <li>University of Washington Medical Center</li>
                        <li>Cascade Orthopaedics</li>
                        <li>US Healthworks</li>
                    </ul>
                    <ul class="bulletPoints small"  style="width:50%;float:left;">
                        <li>Evergreen Cardiovascular Imaging Center</li>
                        <li>Olympia Family Medicine</li>
                        <li>Valley Medical Center</li>
                        <li>Lakewood Orthopedic Surgeons</li>
                        <li>Southlake Clinic</li>
                        <li>St. Clare Hospital</li>
                        <li>International Community Health Services</li>
                        <li>Edmonds Regional Heart Clinic</li>
                    </ul>
                </div>
            </div>   
        </div>
        
        <style>
            /* special style sheet for this page */
            #subContentImages { text-align: right; }
            #subContentImages .image { width: 90%; }
            #subContentImages .image img { width: 100%; }
        </style>
        
        <div class="col3">
            <div id="subContentImages" style="text-align:right;">
                <div id="content1">
                    <div class="image">
                        <img src="resources/images/dev-team/trammell-1.jpg" />
                    </div>
                    <p>&nbsp;</p>
                    <div class="image">
                        <img src="resources/images/dev-team/trammell-2.jpg" />
                    </div>
                </div>
                <div id="content2">
                    <div class="image">
                        <img src="resources/images/dev-team/collins-1.jpg" />
                    </div>
                    <p>&nbsp;</p>
                    <div class="image">
                        <img src="resources/images/dev-team/collins-2.jpg" />
                    </div>
                </div>
                <div id="content3">
                    <div class="image">
                        <img src="resources/images/dev-team/crutcher-1.jpg" />
                    </div>
                    <p>&nbsp;</p>
                    <div class="image">
                        <img src="resources/images/dev-team/crutcher-2.jpg" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $("#subContentWrapper").find("div").first().show(); 
        $("#subNav").find("a").first().addClass("active");
        
        $("#subContentImages div").hide();
        $("#subContentImages div").first().show();
        $("#subContentImages div").first().children().show();
    });
</script>