<div class="fullWrapper">
    <p class="logo">
        <img src="resources/images/trammellcrowcompany.jpg" />
    </p>
    <img src="resources/images/home-bg.jpg" style="position: absolute; bottom: 0;width: 100%;" />
</div>