<div class="bodyWrapper">
    <div class="twoColWrapper">
        <div class="colSmall">
            <div class="imgGallery text">
                <div class="image">
                    <img src="resources/images/imagery/Columbia_Bird.jpg" />
                    <span>Aerial</span>
                </div>
                <div class="image">
                    <img src="resources/images/imagery/Columbia_Building_2.jpg" />
                    <span>Boren View</span>
                </div>
                <div class="image">
                    <img src="resources/images/imagery/Columbia_Building_1.jpg" />
                    <span>Minor &amp; Columbia View</span>
                </div>
                <div class="image">
                    <img src="resources/images/imagery/Columbia_Entry.jpg" />
                    <span>Main Entrance</span>
                </div>
                <div class="image">
                    <img src="resources/images/imagery/Columbia_Inside.jpg" />
                    <span>Interior Lobby</span>
                </div>
                <div class="image">
                    <img src="resources/images/imagery/Window_2.jpg" />
                    <span>Existing Window</span>
                </div>
                <div class="image">
                    <img src="resources/images/imagery/Window_1.jpg" />
                    <span>Enlarged Window</span>
                </div>
                <div class="image">
                    <img src="resources/images/imagery/Window_3.jpg" />
                    <span>MOB Expansion</span>
                </div>
            </div>
        </div>
        <div class="colLarge">
            <div class="image">
                <img class="galleryMain" data-lightbox="true" src="resources/images/tab-2/access-map.jpg" />
            </div>
        </div>
    </div>
</div>