<div class="bodyWrapper">
    <div class="twoColWrapper">
        <div class="colSmall">
            <div class="imgGallery text">
                <div class="image">
                    <img src="resources/images/tab-2/access-map.jpg" />
                    <span>Access Map</span>
                </div>
                <div class="image">
                    <img src="resources/images/tab-2/area-map.jpg" />
                    <span>Area Map</span>
                </div>
                <div class="image">
                    <img src="resources/images/tab-2/first-hill-mob-map.jpg" />
                    <span>First Hill MOB Map</span>
                </div>
                <div class="image">
                    <img src="resources/images/tab-2/parking-map.jpg" />
                    <span>Parking Map</span>
                </div>
                <div class="image">
                    <img src="resources/images/tab-2/amenity-map.jpg" />
                    <span>Amenity Map</span>
                </div>
            </div>
        </div>
        <div class="colLarge">
            <div class="image">
                <img class="galleryMain" data-lightbox="true" src="resources/images/tab-2/access-map.jpg" />
            </div>
        </div>
    </div>
</div>