<div class="bodyWrapper">
    <div class="twoColWrapper">
        <div class="colSmall">
            <div class="imgGallery text">
                <div class="image">
                    <img src="resources/images/summary/Sequence_1.jpg" />
                    <span>Existing Condition</span>
                </div>
                <div class="image">
                    <img src="resources/images/summary/Sequence_2.jpg" />
                    <span>Demolition</span>
                </div>
                <div class="image">
                    <img src="resources/images/summary/Sequence_3.jpg" />
                    <span>Sitework + MEP Upgrages</span>
                </div>
                <div class="image">
                    <img src="resources/images/summary/Sequence_4.jpg" />
                    <span>Garage + Structure/Envelope Upgrades</span>
                </div>
                <div class="image">
                    <img src="resources/images/summary/Sequence_5.jpg" />
                    <span>Tower Addition</span>
                </div>
                <div class="image">
                    <img src="resources/images/summary/Sequence_6.jpg" />
                    <span>Completed Project</span>
                </div>
            </div>
        </div>
        <div class="colLarge">
            <div class="image">
                <img class="galleryMain" data-lightbox="true" src="resources/images/summary/Sequence_1.jpg" />
            </div>
        </div>
    </div>
</div>