<div class="bodyWrapper">
    <div class="twoColWrapper">
        <div class="colSmall">
            <div class="imgGallery text">
                <div class="image">
                    <img src="resources/images/tech-drawings/site-plan.jpg" />
                    <span>Site Plan</span>
                </div>
                <div class="image">
                    <img src="resources/images/tech-drawings/level-1.jpg" />
                    <span>Main Floor</span>
                </div>
                <div class="image">
                    <img src="resources/images/tech-drawings/level-2.jpg" />
                    <span>2nd Floor</span>
                </div>
                <div class="image">
                    <img src="resources/images/tech-drawings/level-3.jpg" />
                    <span>3rd Floor</span>
                </div>
                <div class="image">
                    <img src="resources/images/tech-drawings/level-4.jpg" />
                    <span>4th Floor</span>
                </div>
                <div class="image">
                    <img src="resources/images/tech-drawings/level-5.jpg" />
                    <span>5th Floor</span>
                </div>
                <div class="image">
                    <img src="resources/images/tech-drawings/level-6.jpg" />
                    <span>6th Floor</span>
                </div>
                <div class="image">
                    <img src="resources/images/tech-drawings/level-7.jpg" />
                    <span>7th Floor</span>
                </div>
                <div class="image">
                    <img src="resources/images/tech-drawings/level-8.jpg" />
                    <span>Penthouse</span>
                </div>
                <div class="image">
                    <img src="resources/images/tech-drawings/garage-level-1.jpg" />
                    <span>Garage Level 1</span>
                </div>
                <div class="image">
                    <img src="resources/images/tech-drawings/typical-parking-garage.jpg" />
                    <span>Typical Garage</span>
                </div>
                <div class="image">
                    <img src="resources/images/tech-drawings/building-section.jpg" />
                    <span>Building Section</span>
                </div>
                <div class="image" style="background-color: #007c92;">
                    <img src="resources/images/tech-drawings/building-systems-overview.jpg" />
                    <span>Building Systems Overview</span>
                </div>
                <div class="image" style="background-color: #007c92;">
                    <img src="resources/images/tech-drawings/lower-operating-expenses.jpg" />
                    <span>Lower Operating Expenses</span>
                </div>
            </div>
        </div>
        <div class="colLarge">
            <div class="image highlight">
                <img class="galleryMain" data-lightbox="true" src="resources/images/tech-drawings/site-plan.jpg" />
            </div>
        </div>
    </div>
</div>
