<div class="bodyWrapper">
    <div class="twoColWrapper">
        <div class="colSmall">
            <div class="imgGallery text">
                <div class="image">
                    <img src="resources/images/test-fits/OptionsAll-1.jpg" />
                    <span>Multi-Tenant Clinic</span>
                </div>
                <div class="image">
                    <img src="resources/images/test-fits/OptionsAll-2.jpg" />
                    <span>Full Floor Clinic</span>
                </div>
                <div class="image">
                    <img src="resources/images/test-fits/OptionsAll-3.jpg" />
                    <span>Onstage/Offstage Clinic</span>
                </div>
                <div class="image">
                    <img src="resources/images/test-fits/OptionsAll-4.jpg" />
                    <span>Full Floor Asc</span>
                </div>
                <div class="image">
                    <img src="resources/images/test-fits/OptionsAll-5.jpg" />
                    <span>Office Layout Existing Building</span>
                </div>
            </div>
        </div>
        <div class="colLarge">
            <div class="image highlight">
                <img class="galleryMain" data-lightbox="true" src="resources/images/test-fits/OptionsAll-1.jpg" />
            </div>
        </div>
    </div>
</div>
